<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMS</title>
    <base href="/">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
</head>
<body>
<app-root></app-root>
<script src="http://localhost:4300/runtime.js" type="module"></script>
<script src="http://localhost:4300/polyfills.js" type="module"></script>
<script src="http://localhost:4300/styles.js" type="module"></script>
<script src="http://localhost:4300/vendor.js" type="module"></script>
<script src="http://localhost:4300/main.js" type="module"></script>
</body>
</html>